a {
  text-decoration: none;
  color: color(blue);
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid color(blue);
  }
}

button {
  border: none;
  border-radius: 5px;
  background-color: color(blue);
  color: color(white);
  padding: 15px 30px;
  white-space: pre;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: lighten(color(blue), 5);
  }
  &:active, &:focus {
    background-color: darken(color(blue), 5);
  }

  &.outline {
    background-color: color(transparent);
    border: 2px solid color(blue);
    color: color(blue);
    padding: 13px 28px;
    &:hover {
      border-color: lighten(color(blue), 5);
      color: lighten(color(blue), 5);
    }
    &:active, &:focus {
      border-color: darken(color(blue), 5);
      color: darken(color(blue), 5);
    }
  }
}

input[type=text] {
  width: 100%;
  background-color: color(white);
  border: 2px solid color(grey, pale);
  padding: 13px 12px;
  border-radius: 5px;
  outline: none;
  &:hover {
    border-color: color(blue, mid);
  }
  &:active, &:focus {
    border-color: color(blue);
  }
  &.is-valid {
    border-color: color(green);
  }
  &.is-invalid {
    border-color: color(red);
  }
}

.input--w-label {
  position: relative;
  label {
    position: absolute;
    left: 0.5rem;
    margin-top: -1rem;
    font-size: 0.8em;
    color: color(grey, mid);
    line-height: 2.5em;
  }
  input {
    margin-top: $spacer;
    &:hover ~ label {
      color: color(blue, mid);
    }
    &:focus ~ label {
      color: color(blue);
    }
    &.is-valid {
      &:hover ~ label {
        color: color(green, mid);
      }
      &:focus ~ label {
        color: color(green);
      }
    }
    &.is-invalid {
      &:hover ~ label {
        color: color(red, mid);
      }
      &:focus ~ label {
        color: color(red);
      }
    }
  }
}

input[type=radio] {

}
