@mixin color($name, $type) {
  @if $type == 'base' {
    .#{$name} {
      color: color($name);
    }
    .bg-#{$name} {
      background-color: color($name);
    }
  } @else {
    .#{$name}-#{$type} {
      color: color($name, $type);
    }
    .bg-#{$name}-#{$type} {
      background-color: color($name, $type);
    }
  }
}
